/* MATERIALIZE TWEAKS */

/* Real website style */

.side-nav li{
    padding: 0;
}

/* Global content pane sizing */
html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #9E9E9E;
}

#dockingSystem{
    background-color: #8BC34A;
    height: 100%;
    table-layout:fixed;
}

/* Sizing widgetBoxes */
td{
    padding: 2%;
    table-layout:fixed;
    width: 33%;
    height: 33%;
}

/* Date/Time widget box */
.DateTimeTitle{
    color: #212121;
    text-align: center;
    font-size: 1.5em;
    background-color: #F5F5F5;
}

#DateTimeBox{
    background-color: #F5F5F5;
    padding-bottom: 15px;
    box-shadow: 10px 10px 5px #212121;
}

#dateData, #timeData{
    color: #212121;
    text-align: center;
}

.button-center{
    text-align:center;
    align-items: center;
}

/* Twitter widget box */

#TwitterBox{
    background-color: #F5F5F5;
    padding-bottom: 15px;
    box-shadow: 10px 10px 5px #212121;
}

#twitter-widget-0{
    width: 100% !important;
}

/* Youtube widget box */

#YoutubeBox{
    background-color: #F5F5F5;
    padding: 15px 10px 10px 10px;
    box-shadow: 10px 10px 5px #212121;
}

#youtubeDelete{
    margin-top: 10px;
    
}

/* Google Map widget box */

#MapsBox{
    background-color: #F5F5F5;
    padding: 15px 10px 10px 10px;
    box-shadow: 10px 10px 5px #212121;
}

#mapDelete{
    margin-top: 10px;
}

#departureEntry{
    margin-bottom: 10px;
}

/* Weather widget box */

#WeatherBox{
    background-color: #F5F5F5;
    padding: 15px 10px 10px 10px;
    box-shadow: 10px 10px 5px #212121;
}

#WeatherIcon{
    width: 35px;
    height: 35px;
}

h4{
    float: left;
}

h2#weatherCity{
    text-align: center;
    font-size: 1.5em;
}

/* Sport widget box */

#SportsBox{
    background-color: #F5F5F5;
    padding: 15px 10px 10px 10px;
    box-shadow: 10px 10px 5px #212121;
}

#footballTeam{
    text-align: center;
    font-style: italic;
    font-size: 1.6em;
}

.playerStatus{
    padding: 0;
}

/* Pics box */

#PicsBox{
    background-color: #F5F5F5;
    padding: 15px 10px 10px 10px;
    box-shadow: 10px 10px 5px #212121;
}